* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(pic3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.sidebar {
    position: absolute;
    width: 100px;
    height: 100vh;
    background: #ffffff;
    opacity: 0.9;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
}

.sidebar:hover {
    width: 400px;
}

.sidebar ul {
    position: relative;
    height: 100vh;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:hover {
    background: #edebeb;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
}

li img {
    width: 60px;
    height: 60px;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 80px;
    font-size: 1.5em;
    margin-left: 20px;
}

.sidebar ul li a .text {
    position: relative;
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: 1.5em;
    margin-left: 20px;
    color: black;
    font-family: 'Italiana', sans-serif;
    font-weight: 600;
}

.sidebar ul li a .logo {
    width: 219px;
    height: 142px;
    padding: 12px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.social {
    position: relative;
    display: flex;
    padding-left: 100px;
    margin-top: 50px;
}

.sidebar ul li a .social-media {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.social-media {
    width: 45px;
    height: 45px;
}

.phone {
    padding-left: 90px;
}

.sidebar ul li a .number {
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 1.5em;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.slogan {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 650px;
    background: #ffffff;
    opacity: 0.8;
    
}

h1 {
    text-align: start;
    font-size: 80px;
    font-family: 'Italiana', sans-serif;
    font-weight: 500;
    letter-spacing: 7px;
    padding-left: 50px;
}




@media all and (max-width: 920px) {
    body {
        background-image: url(pic9.jpg);
        background-size: cover;
        min-height: 100vh;
    }
    
    .slogan {
        width: 100%;
        z-index: -1;
        padding-left: 15%;
    }
}



@media all and (max-width: 600px) {
    body {
        background-image: url(pic9.jpg);
        background-size: 100%;
        min-height: 100%;
    }

    .sidebar {
        min-height: 100%;
        position: fixed;
    }

    .sidebar:hover {
        width: 100%;
    }

    .sidebar ul li a .logo {
        margin-bottom: 30px;
    }
    
    .social {
        margin-top: 30px;
    }

    .slogan {
        width: 100%;
        padding-left: 15%;
        z-index: -1;
        bottom: 0;
    }

    h1 {
        font-size: 45px;
        letter-spacing: 5px;
    }
}



@media all and (max-width: 400px) {
    body {
        background-image: url(pic9.jpg);
        background-size: cover;
        min-height: 100vh;
    }

    .sidebar {
        min-height: 170%;
        z-index: 1;
        position: fixed;
    }
}



@media all and (max-width: 380px) {
.sidebar {
    width: 85px;
}

.sidebar ul li a .logo {
    margin-bottom: 10px;
}

.social {
    margin-top: 10px;
}

li img {
    width: 40px;
    height: 40px;
}

.sidebar ul li a .icon {
    min-width: 40px;
    height: 60px;
}

.sidebar ul li a .text {
    font-size: 1.2em;
    margin-left: 30px;
}

.social-media {
    width: 40px;
    height: 40px;
}

.sidebar ul li a .number {
    font-size: 1.2em;
}
}



@media (max-width: 1200px) and (orientation: landscape) {
    body {
        background-image: url(pic9.jpg);
        background-size: cover;
        min-height: 110vh;
    }

    .sidebar {
        min-height: 110%;
    }

    .slogan {
        width: 100%;
        z-index: -1;
        position: fixed;
    }

    h1 {
        text-align: end;
        padding-left: 30%;
    }
}




@media (max-width: 950px) and (orientation: landscape) {
    body {
        background-image: url(pic9.jpg);
        background-size: cover;
        min-height: 120vh;
    }

    .sidebar {
        min-height: 200%;
    }

    .sidebar ul li a .logo {
        margin-bottom: 30px;
    }
    
    .social {
        margin-top: 30px;
    }

    .slogan {
        width: 100%;
        z-index: -1;
        position: fixed;
    }

    h1 {
        text-align: end;
    }
}



@media (max-width: 750px) and (orientation: landscape) {
    h1 {
        text-align: end;
        padding-left: 5%;
    }
}




@media (max-width: 720px) and (orientation: landscape) {
    body {
        background-image: url(pic9.jpg);
        background-size: cover;
        min-height: 100%;
    }

    .sidebar {
        min-height: 200%;
        z-index: 1;
        width: 85px;
    }

    li img {
        width: 40px;
        height: 40px;
    }
    
    .sidebar ul li a .icon {
        min-width: 40px;
        height: 60px;
    }
    
    .sidebar ul li a .text {
        font-size: 1.2em;
        margin-left: 30px;
    }

    .sidebar ul li a .logo {
        width: 200px;
        height: 125px;
        margin-bottom: 10px;
    }
    
    .social {
        margin-top: 10px;
    }

    .social-media {
        width: 40px;
        height: 40px;
    }

    .sidebar ul li a .number {
        font-size: 1em;
    }

    h1 {
        text-align: end;
        padding-left: 10%;
    }
}